<main>
    <section>
        <img  src="../../../assets/backgrounds/sell-slogan.png" alt="¿Querés vender una propiedad?" title="¿Querés vender una propiedad?"/>
        <p>
            ¡Juntos podemostrabajar para que tengas la mejor experiencia a la hora de vender tu propiedad!
        </p>
        <p>
            Envianos un mensaje para solicitar una tasación y el equipo especialista se va a poner en contacto con vos para gestionar la venta de la mejor manera.
        </p>

        <app-button type="secondary" text="Contactame" link="/contacto"></app-button>
    </section>
    <div class="container">
        <img class="sell-image" src="../../../assets/backgrounds/sell-image.png" alt="Imagen conceptual de venta" title="Imagen conceptual de venta"/>
    </div>
</main>