@if (noImages()) {
    <div class="no-images">
        <p>
            No se encuentran imágenes o videos para mostrar
        </p>
    </div>
}
@else {
    <section>
        <div class="carousel">
            <div class="main-image_desktop">
                @if(isVideo(actualImage())){
                    <!-- Youtube player -->
                    <iframe
                    width="100%"
                    height="100%"
                    [src]="getSafeYoutubeUrl(getYoutubeVideoId(actualImage()))"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                }
                @else {
                    <img class="main-image_desktop--principal" src="{{ actualImage() }}" alt="Imagen de propiedad" title="Imagen de la propiedad"/>
                    <img class="main-image_desktop--background" src="{{ actualImage() }}" alt="Imagen de propiedad" title="Imagen de la propiedad"/>
                }
            </div>
            <div class="carousel__container"
                [style.transform]="transformStyle()"
                [style.width]="carouselContainerWidth"
                [style.height]="carouselContainerHeight"
            >
                @for (item of allMedia(); track $index) {
                    @if(isVideo(item)){
                        <article
                            class="carousel__item"
                            [style.width]="carouselItemWidth"
                            [style.height]="carouselItemHeight"
                            [ngClass]="{'active': isImageSelected($index)}"
                            (click)="selectImage($index)"
                            >
                                <!-- Mostrar la imagen de stock de YouTube -->
                                <img
                                    src="https://img.youtube.com/vi/{{ getYoutubeVideoId(item) }}/0.jpg"
                                    alt="Miniatura del video"
                                    title="Video de la propiedad"/>
                        </article>
                    }
                    @else {
                        <article
                            class="carousel__item"
                            [style.width]="carouselItemWidth"
                            [style.height]="carouselItemHeight"
                            [ngClass]="{'active': isImageSelected($index)}"
                            (click)="selectImage($index)"
                            >
                                <img
                                    src="{{ item }}"
                                    alt="Imagen de propiedad"
                                    title="Imagen de la propiedad"/>
                        </article>
                    }
                }
            </div>
        </div>
        <div class="carousel__controls">
            <app-button
                (click)="prevImage()"
                type="secondary"
                [rounded]="true"
                icon="fa fa-solid fa-chevron-left"></app-button>
            <app-button
                [rounded]="true"
                (click)="nextImage()"
                type="secondary"
                icon="fa fa-solid fa-chevron-right"></app-button>
        </div>
    </section>
}