.no-images{
    width: 100%;
    height: 200px;
    background-color: var(--tertiary-color);

    display: flex;
    align-items: center;
    justify-content: center;
}
.no-images p{
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
    font-weight: 600;
}
section{
    position: relative;
    height: 35vh;
    height: 35dvh;
}
.carousel{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}
.carousel__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.carousel__item{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
.main-image_desktop .tour-view-container,
.carousel__item .tour-view-container,
.carousel__item .tour-view-container_desktop{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    gap: 2rem;
}
.main-image_desktop .tour-view-container::after,
.carousel__item .tour-view-container::after,
.carousel__item .tour-view-container_desktop::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--tertiary-color);
    z-index: -1;
}
.main-image_desktop .tour-view-container img,
.carousel__item .tour-view-container img,
.carousel__item .tour-view-container_desktop img{
    object-fit: contain;
    width: 40%;
    height: 40%;
}
.main-image_desktop .tour-view-container h3,
.carousel__item .tour-view-container h3,
.carousel__item .tour-view-container_desktop h3{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.5rem;
}
.carousel__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
}


.carousel__controls{
    pointer-events: none;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 50;
    transform: translateY(-25%);
}
.carousel__controls app-button,
.carousel__controls button{
    pointer-events: auto;
}
.main-image_desktop{
    display: none;
}
.carousel__item .tour-view-container_desktop{
    display: none;
}

@media (min-width: 530px) {
    .no-images{
        height: 350px;
    }
    section{
        height: 40vh;
        height: 40dvh;
    }
    .carousel{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow-x: visible;
        overflow-y: hidden;
    }
    .main-image_desktop{
        display: block;
        width: 65%;
        height: 100%;
        position: relative;
        /* background-color: var(--tertiary-color); */
        border-radius: 1rem;
        overflow: hidden;
    }
    /* .main-image_desktop img::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, white);
        z-index: 2;
    } */
    .carousel__item .tour-view-container{
        pointer-events: stroke;
    }
    .carousel__item .tour-view-container h3{
        display: none;
    }

    .main-image_desktop iframe,
    .main-image_desktop img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 1rem;
        transition: all 0.3s ease-in-out;
        position: relative;
        z-index: 1;
    }
    .main-image_desktop iframe{
        z-index: 0;
    }
    .main-image_desktop .main-image_desktop--background{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;
        filter: blur(8px)
    }
    .carousel .carousel__container{
        width: 30% !important;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .carousel__item.active{
        transform: scale(0.95);
    }
    .carousel__item img{
        height: 95%;
        width: 95%;
        border-radius: 1rem;
    }
    .carousel__controls{
        width: 70%;
        padding: 0;
        top: 50%;
        left: 0;
        transform: translate(-3.5%, -50%);
    }
    .carousel__item .tour-view-container{
        display: none;
    }
    .carousel__item .tour-view-container_desktop{
        display: flex;
    }
}


@media (min-width: 950px) {
    .no-images{
        height: 450px;
    }

    section{
        height: 50vh;
        height: 50dvh;
    }

    .carousel__item:hover{
        transform: scale(0.95);

    }

}

@media (min-width: 1100px) {
    section{
        height: 60vh;
        height: 60dvh;
    }
    .carousel__controls{
        width: 67%;
        transform: translate(-1.5%, -50%);
    }
}