<footer>
    <img class="logo-footer" src="../../../assets/logos/logo-footer.svg" alt="logo-paula-dallochio">
    <section>
        <ul>
            <li>
                <h2>Cómo trabajamos</h2>
                <ul>
                    <li><a href="/" >Vender un inmueble</a></li>
                    <li><a href="/" >Comprar un inmueble</a></li>
                    <li><a href="/" >Alquilar un inmueble</a></li>
                </ul>
            </li>
            <li>
                <h2>Vender</h2>
                <ul>
                    <li>
                        <a href="/" >Vender/Alqular</a>
                    </li>
                    <li>
                        <a href="/" >Solicitar tasación</a>
                    </li>
                </ul>
            </li>
            <li>
                <h2>Contacto</h2>
                <!-- <ul>
                    <li>
                        <a href="/" target="_blank" rel="noreferrer">Vender/Alqular</a>
                    </li>
                    <li>
                        <a href="https://api.whatsapp.com/send?phone=5491131947004&text=Hola!%20Quisiera%20saber%20mas%20sobre%20sus%20productos" target="_blank" rel="noreferrer">+54 (11) 4551-9494</a>
                    </li>
                </ul> -->
            </li>
        </ul>
    </section>
    <section>
        <img src="../../../assets/logos/logo-bapps-footer.png" alt="Logo bapps">
        <div>
            <img src="../../../assets/logos/logo-residential-real-estate.png" alt="Logo Residential Real Estate Council">
            <img src="../../../assets/logos/logo-certified-specialist.png" alt="Logo Certified Residential Specialist">
        </div>
    </section>
</footer>
