<footer>
    <img class="logo-footer" src="../../../assets/logos/logo-footer.svg" alt="logo-paula-dallochio">
    <section class="footer-primary">
        <ul>
            <li>
                <h2>Cómo trabajamos</h2>
                <ul>
                    <li><a href="/" >Vender un inmueble</a></li>
                    <li><a href="/" >Comprar un inmueble</a></li>
                    <li><a href="/" >Alquilar un inmueble</a></li>
                </ul>
            </li>
            <li>
                <h2>Solicitar tasación</h2>
                <ul>
                    <li>
                        <a href="/" >Vender</a>
                    </li>
                    <li>
                        <a href="/" >Comprar</a>
                    </li>
                    <li>
                        <a href="/" >Alquilar</a>
                    </li>
                </ul>
            </li>
            <li class="footer-contact">
                <h2>Contacto</h2>
                <ul>
                    <li>
                        <a href="mailto:estudioinmobiliario@pauladallochio.com.ar" target="_blank" rel="noreferrer">estudioinmobiliario&#64;pauladallochio.com.ar</a>
                    </li>
                    <li>
                        <a href="https://api.whatsapp.com/send?phone=5491140856083&text=Hola!%20Quisiera%20saber%20mas%20sobre%20las%20propiedades" target="_blank" rel="noreferrer">+54 9 11 4085-6083</a>
                    </li>
                    <li class="social-icons">
                        <a href="https://www.instagram.com/pauladallochio/" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://www.linkedin.com/in/pauladallochioestudioinmobiliario" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="footer-secondary">
        <img src="../../../assets/logos/logo-bapps-footer.png" alt="Logo bapps">
        <div>
            <h2>Mat. CUCICBA 9040</h2>
            <img src="../../../assets/logos/logo-residential-real-estate.png" alt="Logo Residential Real Estate Council">
            <img src="../../../assets/logos/logo-certified-specialist.png" alt="Logo Certified Residential Specialist">
        </div>
    </section>
</footer>
