<header [ngClass]="showHeader ? 'show' : ''">
  <a class="header-logo" [routerLink]="['']" (click)="navigateAndScrollTop()">
    <img
      src="../../../assets/logos/logo-header.png"
      width="500"
      height="234"
      alt="logo-paula-dallochio"
    />
  </a>
  <div
    class="header-button"
    [ngClass]="showHeader ? 'show' : ''"
    (click)="toggleHeader()"
  >
    <div></div>
  </div>
  <nav [ngClass]="showHeader ? 'show' : ''">
    <ul>
      <li>
        <a
          [routerLink]="['']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="navigateAndScrollTop()"
          >Inicio</a
        >
      </li>
      <li>
        <a
          [routerLink]="['como-trabajamos']"
          [routerLinkActive]="['active']"
          (click)="navigateAndScrollTop()"
          >Cómo trabajamos</a
        >
      </li>
      <li>
        <a
          [routerLink]="['contacto']"
          [routerLinkActive]="['active']"
          (click)="navigateAndScrollTop()"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
