
.contact-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 3% 5% 3%;
}
.contact-slogan{
    width: 100%;
    display: flex;
    object-fit: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 5% 0;

}

.contact-title p{
    font-size: 1.5rem;
    text-align: center;
}
h2{
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    z-index: 50;
    color: var(--light-color);
    font-weight: 800;
    text-align: center;
}

form{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 5% 3%;
    gap: 2.3rem;
}

form .input-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    z-index: 50;
}

form .input-container textarea,
form .input-container select,
form .input-container input{
    width: 100%;
    resize: none;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--dark-color);
    padding: 1.3rem;
    border-radius: 0.5rem;
}

form .input-container textarea{
    min-height: 10rem;
}

form .input-container label{
    width: 100%;
    color: var(--primary-color);
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

form .input-container select:focus-within,
form .input-container textarea:focus-within,
form .input-container input:focus-within{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

form .input-container:focus-within label{
    font-size: 1.3rem;
    font-weight: 600;
}

.contact-socials{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 5% 3%;
    gap: 2.3rem;
}
.contact-socials li h3,
.contact-socials li{
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.contact-socials li h3{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.contact-socials li a{
    color: var(--dark-color);
    font-size: 1.3rem;
}
.contact-socials li a:hover{
    color: var(--primary-color);
}
.contact-socials li:last-child{
    gap: 2rem;
}
.contact-socials li .social-icons{
    background-color: var(--tertiary-color-darker);
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-socials li .social-icons:hover{
    transform: scale(1.1);
    text-decoration: none;
}
.contact-socials li .social-icons i{
    font-size: 2rem;
    color: var(--light-color);
    transition: all 0.3s ease-in-out;
}

@media (min-width: 530px) {

    .contact-title{
        padding: 0;
        width: 45%;
        height: 45%;
    }
    form{
        padding: 0;
        order: 1;
        width: 45%;
        height: 100%;
        /* order: 1; */
    }
    .contact-socials{
        padding: 0;
        height: 45%;
        width: 45%;
    }
    form .input-container textarea,
    form .input-container select,
    form .input-container input{
        padding: 1rem;
    }

    form .input-container label{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .contact-socials li h3{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .contact-socials li a{
        font-size: 1.5rem;
    }
}

@media (min-width: 950px) {
    .contact-title{
        align-items: start;
    }
    .contact-slogan{
        width: 70%;
    }
    .contact-title p{
        font-size: 2rem;
    }
    form .input-container textarea,
    form .input-container select,
    form .input-container input{
        padding: 1rem;
        font-size: 1.5rem;
    }

    form .input-container label{
        font-size: 2rem;
        font-weight: 600;
    }
    .contact-socials li h3{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .contact-socials li a{
        font-size: 2rem;
    }
}