    <section class="contact-title">
        <img class="contact-slogan" src="../../../assets/backgrounds/contact-slogan.png">
        <p>Tenes alguna duda o necesitas asistencia con una atención personalizada?</p>
        <p>¡Contactános! Nos encantaría recibir tus consultar y ayudarte en obtener el hogar de tus sueños</p>
    </section>

    <form #myForm="ngForm">

        <div class="input-container">
            <label for="contactName">
                Nombre y apellido
            </label>
                <input
                    type='text'
                    placeholder="Juan Perez"
                    id='contactName'
                    [(ngModel)]="fullName"
                    name="fullName"
                    />
        </div>

        <div class="input-container">
            <label for="contactEmail">
                Email
            </label>
                <input
                    type='text'
                    placeholder="juan.perez@hotmail.com"
                    id='contactEmail'
                    [(ngModel)]="email"
                    name="email"
                    />
        </div>

        <div class="input-container">
            <label for="contactPhone">
                Teléfono
            </label>
                <input
                    type='text'
                    placeholder="11 1234 5678"
                    id='contactPhone'
                    [(ngModel)]="phone"
                    name="phone"
                    />
        </div>


        <div class="input-container">
            <label for="contactSubject">¿Sobre que tema quisieras hablar?</label>
            <select id="contactSubject" name="subject" [(ngModel)]="subject">
                <option value="" disabled selected>Seleccione un motivo</option>
                <option value="Consulta General">Consulta general</option>
                <option value="Atencion al cliente">Atención al cliente</option>
                <option value="Comprar">Quiero comprar</option>
                <option value="Vender">Quiero vender</option>
                <option value="Alquilar">Quiero alquilar</option>
            </select>
        </div>

        <div class="input-container">
            <label for="contactMessage">
                Mensaje
            </label>
                <textarea
                    placeholder="Escribe tu mensaje"
                    id="contactMessage"
                    [(ngModel)]="message"
                    name='message'
                    ></textarea>
        </div>

        <app-button (click)="onSubmit()"text="Enviar" ></app-button>

    </form>

    <ul class="contact-socials">
        <li>
            <h3>Email</h3>
            <a>estudioinmobiliario&#64;pauladallochio.com.ar</a>
        </li>
        <li>
            <h3>Teléfono</h3>
            <a>+54 9 11 4085 6083</a>
        </li>
        <li>
            <h3>Redes sociales</h3>
            <a href="https://www.instagram.com/pauladallochio/" class="social-icons"><i class="fa-brands fa-instagram"></i></a>
            <a href="http://www.linkedin.com/in/pauladallochioestudioinmobiliario" class="social-icons"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
    </ul>