<main>
   <section class="contact-title">
        <img class="contact-slogan" src="../../../assets/backgrounds/contact-slogan.png">
        <p>¿Tenes alguna duda o necesitas asistencia con una atención personalizada?</p>
        <p>¡Contactános! Nos encantaría recibir tus consultar y ayudarte en obtener el hogar de tus sueños</p>
    </section>

    <app-contact-form></app-contact-form>

    <ul class="contact-socials">
        <li>
            <h3>Email</h3>
            <a href="mailto:estudioinmobiliario@pauladallochio.com.ar">estudioinmobiliario&#64;pauladallochio.com.ar</a>
        </li>
        <li>
            <h3>Teléfono</h3>
            <a href="https://api.whatsapp.com/send?phone=5491140856083&text=Hola!%20Quisiera%20saber%20mas%20sobre%20las%20propiedades">+54 9 11 4085 6083</a>
        </li>
        <li>
            <h3>Redes sociales</h3>
            <a href="https://www.instagram.com/pauladallochio/" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="http://www.linkedin.com/in/pauladallochioestudioinmobiliario" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
    </ul>
</main>