main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

img{
    width: 75%;
    height: auto;
    object-fit: contain;
}

h3{
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    font-weight: 500;
    padding: 0 3%;
    font-size: 1.5rem;
}

.button-container{
    width: 100%;
    padding: 0 10%;
}


@media (min-width: 530px) {
    img{
        width: 50%;
    }
    H3{
        font-size: 2.5rem;
    }
    .button-container{
        padding: 0 25%;
    }
}

@media (min-width: 950px) {
    img{
        width: 35%;
    }
    h3{
        font-size: 3rem;
        width: 80%;
    }
    .button-container{
        padding: 0 35%;
    }
}

@media (min-width: 1150px) {
    main{
        gap: 1rem;
    }
    h3{
        font-size: 4rem;
        width: 70%;
    }
    .button-container{
        padding: 0 40%;
    }
}