<main>
    <app-carrousel [images]="product?.images" [videos]="product?.videos"></app-carrousel>

    <section class="main-info">

        <app-main-info [product]="product"></app-main-info>

        <div class="main-info-contact">
            <h2>¿Te interesa esta propiedad?</h2>
            <app-contact-form subject="Comprar este inmueble"></app-contact-form>
            <app-contact-card></app-contact-card>
            <app-button (click)="copyActualRoute()" text=" Copiar URL de la propiedad" icon="fa fa-solid fa-link"></app-button>
            <span class="copy-notification"
                [ngClass]="{'show': showNotification}"
            >URL COPIADA CON ÉXITO!</span>
        </div>


    </section>



    <!-- <app-suggestions></app-suggestions> -->
</main>