<section class="contact-card">
    <article>
        <header>
            <img  src="../../../../assets/backgrounds/paula-dallochio-contacto.png" alt="Imagen de Paula Dallochio" title="Imagen de Paula Dallochio">
            <div>
                <h2>Contacto</h2>
                <h2>Paula Dallochio</h2>
            </div>
        </header>
        <main>
            <span>
                <i class="fa fa-whatsapp" ></i>
                <a href="https://wa.me/549113606-1111" target="_blank" rel="noreferrer">+54 9 11 3606-1111</a>
            </span>
            <span>
                <i class="fa fa-regular fa-envelope" ></i>
                <a href="mailto:estudioinmobiliario@pauladallochio.com.ar" target="_blank" rel="noreferrer">estudioinmobiliario&#64;pauladallochio.com.ar</a>
            </span>
        </main>
    </article>
</section>