<section class="contact-card">
    <article>
        <header>
            <img  src="../../../../assets/backgrounds/paula-dallochio-contacto.jpg" alt="Imagen de Paula Dallochio" title="Imagen de Paula Dallochio">
            <div>
                <h2>Contacto</h2>
                <h2>Paula Dallochio</h2>
            </div>
        </header>
        <main>
            <span>
                <i class="fa fa-whatsapp" ></i>
                <a href="https://api.whatsapp.com/send?phone=5491140856083&text=Hola!%20Quisiera%20saber%20mas%20sobre%20las%20propiedades" target="_blank" rel="noreferrer">+54 9 11 4085-6083</a>
            </span>
            <span>
                <i class="fa fa-regular fa-envelope" ></i>
                <a href="mailto:estudioinmobiliario@pauladallochio.com.ar" target="_blank" rel="noreferrer">estudioinmobiliario&#64;pauladallochio.com.ar</a>
            </span>
        </main>
    </article>
</section>