<section>
    <div class="home-studio-text">
        <p>
            Nos enfocamos en comprender las motivaciones únicas de cada cliente. Nuestras reuniones se centran en escuchar activamente, detectando incluso las necesidades no expresadas.
        </p>
        <p>
            Para ventas y alquileres, realizamos un detallado relevamiento de la propiedad para ofrecer tasaciones precisas.
        </p>
        <p>
            En compras, aplicamos un eficiente proceso de selección.
        </p>
        <p>
            Brindamos un acompañamiento integral, desde la negociación hasta la gestión documental, asegurando un proceso inmobiliario sin contratiempos y adaptado a cada cliente.
        </p>
    </div>
    <img class="home-studio-slogan_mobile" src="../../../../assets/backgrounds/home-studio-slogan.png" alt="Slogan de Estudio Inmobiliario">
    <img class="home-studio-slogan_desktop" src="../../../../assets/backgrounds/home-studio-slogan_desktop.png" alt="Slogan de Estudio Inmobiliario">

    <img class="home-studio-avatar" src="../../../../assets/backgrounds/home-studio.jpg" alt="Imagen de manos con una llave">

</section>