<section>
    <!-- <h2>Encontrá lo que estás buscando</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestias blanditiis incidunt temporibus eum exercitationem nesciunt.</h3>
    <app-button text="Compartir catálogo"></app-button>
     -->
     <h2>¿No estás encontrando lo que estás buscando? ¡Yo te puedo ayudar!</h2>
     <app-button text="Contactame" type="tertiary" link="/contacto"></app-button>
     <img src="../../../../assets/backgrounds/properties.jpg" alt="Banner de productos">
</section>