<section>
    <span>{{product?.operation_type}}</span>
    <h1>{{product?.title}}</h1>
    <h2>{{product?.currency + " " + (product?.price | number:'1.0-0':'es-ES')}}</h2>
    <ul>
        <li><i class="fa fa-solid fa-house-chimney-window"></i> {{product?.rooms}} ambientes</li>
        <li *ngIf="product?.area">
            <i class="fa fa-solid fa-maximize"></i>
            {{product?.area | number:'1.2-2':'es-ES'}} m² totales
        </li>

        <li *ngIf="product?.coveredArea">
            <i class="fa fa-solid fa-person-shelter"></i>
            {{product?.coveredArea | number:'1.2-2':'es-ES'}} m² cubiertos
        </li>

        <li *ngIf="product?.semiCoveredArea">
            <i class="fa fa-solid fa-border-top-left"></i>
            {{product?.semiCoveredArea | number:'1.2-2':'es-ES'}} m² semicubiertos
        </li>

        <li *ngIf="product?.uncoveredArea">
            <i class="fa fa-solid fa-sun"></i>
            {{product?.uncoveredArea | number:'1.2-2':'es-ES'}} m² descubiertos
        </li>

        <li *ngIf="product?.lotArea">
            <i class="fa fa-solid fa-tree"></i>
            {{product?.lotArea | number:'1.2-2':'es-ES'}} m² terreno
        </li>

        <li><i class="fa fa-solid fa-square-parking"></i>{{product?.garage==0?"Sin cochera":product?.garage + " Cochera"}}</li>
        <li>
            <i class="fa fa-solid fa-bath"></i> {{product?.bathrooms}} Baño{{product && product.bathrooms > 1 ? 's' : ''}}
        </li>
        <li><i class="fa fa-solid fa-building"></i>{{expenses()}}</li>
    </ul>
    <h2>Descripción</h2>
    <p class="description" [innerHTML]="product?.description"></p>

    <h2>Ubicación</h2>
    <div class="product-map" *ngIf="product">
        <google-map
            height="300px"
            width="100%"
            [center]="center"
            [zoom]="15">
            <map-marker
                *ngIf="product?.geo_lat && product?.geo_long"
                [position]="marker.position ?? center"
                [title]="marker.title ?? ''">
            </map-marker>
        </google-map>
    </div>

</section>