<section>
    <div class="text-container">
        <h2>Nuestro propósito</h2>
        <p>Paula Dallochio, Martillera y Corredora Inmobiliaria egresada de la Universidad Tecnológica Nacional, con formación académica y mucha experiencia en el rubro. Su enfoque de trabajo es dedicado, preventivo y proactivo.</p>
        <p>Pone al servicio de los clientes todas las herramientas para que tomen la mejor decisión sobre su patrimonio.</p>
        <p>Es una apasionada por su profesión. “La confianza de mis clientes es mi mayor logro, y estoy comprometida a mantenerla.  Mi prioridad, cuidar el vínculo de quienes me eligen para trabajar en sus proyectos, y que tengan una experiencia inmobiliaria feliz y me recomienden”.</p>
    </div>
    <div class="image-container">
        <img src="../../../../assets/backgrounds/how-we-work-purpose.jpg" alt="Propósito">
    </div>
</section>