<section>
    <h2>Te brindamos el asesoramiento integral que necesitás para que tu operación sea un éxito</h2>
    <h3>Contamos con equipos de:</h3>
    <ul>
        <li><img src="../../../../assets/icons/check.svg" alt="check icon">Diseño de interiores</li>
        <li><img src="../../../../assets/icons/check.svg" alt="check icon">Asesoramiento contable tributario</li>
        <li><img src="../../../../assets/icons/check.svg" alt="check icon">Asesoramiento legal y jurídico</li>
        <li><img src="../../../../assets/icons/check.svg" alt="check icon">Asesoramiento notarial</li>
    </ul>
</section>