form{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 5% 3%;
    gap: 2.3rem;
}

form .input-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    z-index: 50;
}

form .input-container textarea,
form .input-container select,
form .input-container input{
    width: 100%;
    resize: none;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--dark-color);
    padding: 1.3rem;
    border-radius: 0.5rem;
}

form .input-container textarea{
    min-height: 10rem;
}

form .input-container label{
    width: 100%;
    color: var(--primary-color);
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

form .input-container select:focus-within,
form .input-container textarea:focus-within,
form .input-container input:focus-within{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

form .input-container:focus-within label{
    font-weight: 600;
    color: #000;
}

@media (min-width: 530px) {

    form{
        padding: 0;
        order: 1;
        height: 100%;
    }

    form .input-container textarea,
    form .input-container select,
    form .input-container input{
        padding: 1rem;
    }

    form .input-container label{
        font-size: 1.5rem;
        font-weight: 600;
    }
}


@media (min-width: 950px) {

    form .input-container textarea,
    form .input-container select,
    form .input-container input{
        padding: 1rem;
        font-size: 1.5rem;
    }

    form .input-container label{
        font-size: 2rem;
        font-weight: 600;
    }


}