section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 5%;
    border-bottom: 1px solid var(--primary-color);
}

.main-filter-btn{
    width: 47%;
}

.filter-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.filter-form.showFilters{
    max-height: 10000px;
    overflow: visible;
}
.input-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
}

.input-container label{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
}
.input-container select,
.input-container input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
    padding: 1rem;
}


.secondary-filter-btn{
    width: 65%;
}

.search-btn{
    width: 30%;
    height: 100%;
}
.clear-filters-btn{
    width: 100%;
    margin-top: 1rem;
}
.input-container.order_by{
    flex-direction: row;
    flex-wrap: wrap;
}
.input-container.order_by label{
    width: 100%;
}
.input-container.order_by select{
    width: 48%;
}


@media (min-width: 530px) {
    section{
        padding: 5% 5%;
    }
    .main-filter-btn{
        width: 25%;
    }
    .search-btn{
        width: 10%;
    }
    .secondary-filter-btn{
        width: 30%;
    }
    .input-container{
        width: 23%;
    }
    .input-container.order_by{
        width: 50%;
    }

}

@media (min-width: 950px) {
    section{
        padding: 3% 15%;
    }
    .secondary-filter-btn{
        width: 30%;
    }
}

@media (min-width: 1150px) {

    .input-container{
        width: 15%;
    }
    .clear-filters-btn{
        width: 20%;
    }
    section{
        gap: 2rem;
    }
}