.faq-item{
    width: 100%;
    display: flex;
    padding: 2% 7%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    border: 0.5px solid var(--primary-color);
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.faq-item h3{
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    width: 90%;
    padding: 5% 0% 5% 0;

}
.faq-item div{
    width: 10%;
    position: relative;
}
.faq-item div::after,
.faq-item div::before{
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 0.5rem;
    bottom: 50%;
    right: 0;
    transition: transform 0.3s ease-in-out;
}
.faq-item div::after{
    transform: rotate(90deg);
}
.faq-item.show div::before{
    transform: rotate(45deg);
}
.faq-item.show div::after{
    transform: rotate(135deg);
}
.faq-item p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--dark-color);
    font-weight: 400;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition: max-height 0.3s ease-in-out;
}

.faq-item.show p{
    max-height: 500px;
}

@media (min-width: 530px) {
    .faq-item{
        border-radius: 0.5rem;
        padding: 2% 5%;
    }
    .faq-item div::after,
    .faq-item div::before{
        width: 40%;
        height: 3px;
    }
    .faq-item h3{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .faq-item p{
        font-size: 1.5rem;
        line-height: 2rem;
    }

}

@media (min-width: 950px) {
    .faq-item{
        border-radius: 1rem;
    }
    .faq-item:hover{
        transform: scale(0.98);
    }
    .faq-item div::after,
    .faq-item div::before{
        width: 30%;
        height: 4px;
    }

    .faq-item h3{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .faq-item p{
        font-size: 2rem;
        line-height: 2.5rem;

    }
}