<section class="banner">
    <header>
        <img class="banner-slogan-mobile" src="../../../../assets/backgrounds/home-filter-banner.png" alt="Banner" />
        <img class="banner-slogan-desktop" src="../../../../assets/backgrounds/home-filter-banner_desktop.png" alt="Banner" />
        <section>
            <app-button text="Comprar" class="main-filter-btn" [type]="isFilterActive('Comprar') ? '' : 'secondary'" (click)="toggleFilter('Comprar')"></app-button>
            <app-button text="Vender" class="main-filter-btn" [type]="isFilterActive('Vender') ? '' : 'secondary'" (click)="toggleFilter('Vender')"></app-button>
            <app-button text="Alquilar" class="main-filter-btn" [type]="isFilterActive('Alquilar') ? '' : 'secondary'" (click)="toggleFilter('Alquilar')"></app-button>
            <app-button class="search-btn" icon="fa fa-search fa-solid fa-magnifying-glass" (click)="searchProducts()"></app-button>
        </section>
    </header>
    <img src="../../../assets/backgrounds/home-banner.jpg" alt="Banner" />
</section>